.first-content{
    display: flex;
    flex-wrap: wrap;
    min-height:80vh;
    
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    
}
.list{
    display: flex;
    align-items: center;
}
.inner-div1{
    display: flex;
    flex-direction: column;
}
.inner-div2{
    display: flex;
    margin-left:50px;
    flex-direction: column;
}
.image{
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-sec{
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;
width: 50%;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image img{
    width: 324px;
    height:324px;
    object-fit: contain;
    
}
.first{
    padding:10px;

}
.first p{
    font-family: var(--playfair-display);
    font-size: 20px;
    padding:10px;
    margin-top:20px;
}
.first h2{
    font-family: var(--playfair-display);
    font-size: 54px;
    padding:20px;
}
.list{
    display: flex;
    gap:90px;
    margin-top: 30px;
}
.inner-div1{
    display: flex;
}
.inner-div1 ul, .inner-div2 ul{
    list-style: none;
}
.inner-div1 ul li img, .inner-div2 ul li img{
    width: 20px;
    height:20px;
    object-fit: contain;
    border-radius: 100%;
    background-color: var(--primary-color);
}
.list2{
    display: flex;
    gap:10px;

    align-items: center;
}
.list2 p{
    margin-top:-5px;
    font-family: var(--fairplay-display);
}
.img-arrow-horizontal{
    position: absolute;
    margin-top:36%;
}
.img-arrow-vertical{
    position: absolute;
    right:38%;
}
.second-content{
    min-height:100vh
}

.img-arrow-horizontal2{
    position: absolute;
    margin-bottom:36%
}
@media only screen and (max-width: 600px){
    .first-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height:80vh;
        min-height:70vh;
        justify-content: center;
        align-items: center;
        align-items: center;
    }
    .first{
        width:100%;
        
    }
    .inner-div2{
        margin-left:0px;
        margin:5px;
        
    }
    .img-sec{
        width: 90%; 
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
    }
    .image img{
    width: 164x;
    height:164px;
    object-fit: contain;
    }
    .first p{
        font-size: 20px;
        text-align: center;
    }
    .first h2{
        font-size: 42px;
    }
    .list{
        gap:30px;
    }
    .img-arrow-horizontal{
        position: absolute;
        margin-top:36%;
        display: none;
    }
    .img-arrow-vertical{
        position: absolute;
        right:38%;
        display: none;
    }
    .img-arrow-horizontal2{
        display: none;
    }
}